/*!
	Theme Name: UpLeap
	Description: This is the WordPress theme for UpLeap's webiste. It is a Genesis Child theme.
	Author: ProTech Internet Group
	Author URI: https://protechig.com

	Version: 2.2.3

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.2.3

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/


/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Skip Links
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- After Header Navigation
	- Footer Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Max-width: 1340px
	- Max-width: 1200px
	- Max-width: 1023px
	- Max-width: 860px
- Print Styles
*/

@import "partials/normalize";
@import "grid-settings";
@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";
@import "partials/colors";
@import "partials/layout";
@import "partials/structure-layout";
@import "partials/column-classes";
@import "partials/gallery";
@import "partials/widgets";
@import "partials/screen-reader";
@import "partials/common-classes";
@import "partials/wordpress";
@import "partials/plugins";
@import "partials/header";
@import "partials/navigation";
@import "partials/comments";
@import "partials/content";
@import "partials/footer";
@import "partials/page";
@import "partials/homepage";
@import "partials/partners";
@import "partials/betas";
@import "partials/agencies";
@import "partials/template-partners";
@import "partials/agency-signup-form";
@import "partials/challenge-form";
@import "partials/media-queries";
@import "partials/big-brands";
@import "partials/single-cases";
@import "partials/find-partner";
@import "partials/newsletter";
