/*!
	Theme Name: UpLeap
	Description: This is the WordPress theme for UpLeap's webiste. It is a Genesis Child theme.
	Author: ProTech Internet Group
	Author URI: https://protechig.com

	Version: 2.2.3

	Tags: black, red, white, one-column, two-columns, three-columns, left-sidebar, right-sidebar, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.2.3

	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/* # Table of Contents
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
	- Screen Reader Text
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
	- Column Classes
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Jetpack
- Skip Links
- Site Header
	- Title Area
	- Widget Area
- Site Navigation
	- Accessible Menu
	- Site Header Navigation
	- After Header Navigation
	- Footer Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebars
- Footer Widgets
- Site Footer
- Media Queries
	- Max-width: 1340px
	- Max-width: 1200px
	- Max-width: 1023px
	- Max-width: 860px
- Print Styles
*/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #00A8FF;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 30px auto;
}

@media screen and (max-width: 480px) {
  button, [type='button'], [type='reset'], [type='submit'] {
    padding: 0.75em;
  }
}

button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
  background-color: #0086cc;
  color: #fff;
}

button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
  background-color: #00A8FF;
}

.button {
  padding: 10px;
  color: white;
  background-color: #00A8FF;
  display: block;
  text-align: center;
  max-width: 294px;
  width: auto;
  border-radius: 3px;
}

.button a {
  color: white;
}

.button:hover {
  color: white;
  background: #0086cc;
}

.cta-partner a {
  color: #fff;
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em;
}

input,
select,
textarea {
  display: block;
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
}

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #B3B3B3;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%;
}

[type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
select[multiple]:hover {
  border-color: #8f8f8f;
}

[type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
select[multiple]:focus {
  border-color: #00A8FF;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 151, 230, 0.7);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 151, 230, 0.7);
  outline: none;
}

[type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}

[type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #B3B3B3;
}

textarea {
  resize: vertical;
}

[type="search"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.three-col {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 120.51282%;
  text-align: center;
  margin-bottom: 2em;
}

.three-col:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .three-col {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
  }
  .three-col:last-child {
    margin-right: 0;
  }
}

.two-col {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 120.51282%;
  text-align: center;
  margin-bottom: 2em;
}

.two-col:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .two-col {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .two-col:last-child {
    margin-right: 0;
  }
}

.flex-groups,
.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-groups .flex-item,
.flex-item .flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 300px;
          flex: 1 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.5em;
  margin: 1em;
}

.flex-groups .flex-item img,
.flex-item .flex-item img {
  max-height: 200px;
  max-width: 200px;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

.flex-groups .flex-item ul,
.flex-item .flex-item ul {
  -ms-flex-item-align: center;
      align-self: center;
}

.flex-groups .flex-item .button,
.flex-item .flex-item .button {
  margin-top: auto;
  -ms-flex-item-align: center;
      align-self: center;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid #868686;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #B3B3B3;
  padding: 0.75em 0;
}

tr,
td,
th {
  vertical-align: middle;
}

Fbody {
  color: #333;
  font-family: "Roboto", helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", helvetica, sans-serif;
  line-height: 1em;
  margin: 0 0 0.75em;
  font-weight: normal;
}

p {
  margin: 0 0 0.75em;
}

a {
  color: #00A8FF;
  text-decoration: none;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

a:active, a:focus, a:hover {
  color: #007ebf;
}

hr {
  border-bottom: 1px solid #B3B3B3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

/* Colors
---------------------------------------------------------------------------------------------------- */
.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrap::after {
  clear: both;
  content: "";
  display: block;
}

.wrap h2 {
  font-size: 28px;
}

.wrap p {
  font-size: 20px;
}

/* ## Column Widths and Positions
--------------------------------------------- */
/* ### Wrapping div for .content and .sidebar-primary */
.sidebar-content .content {
  margin-left: 51.6129%;
}

.sidebar-content .sidebar {
  margin-left: -123.07692%;
}

/*

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	width: 1060px;
}

.content-sidebar-sidebar .content-sidebar-wrap {
	float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
	float: right;
}



.content {
	float: right;
	width: 880px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
	float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
	width: 660px;
}

.full-width-content .content {
	width: 100%;
}



.sidebar-primary {
	float: right;
	width: 360px;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
	float: left;
}



.sidebar-secondary {
	float: left;
	width: 180px;
}

.content-sidebar-sidebar .sidebar-secondary {
	float: right;
}

*/
/* Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* Site Containers
--------------------------------------------- */
/* ## Column Classes
--------------------------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%;
}

.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%;
}

.one-third,
.two-sixths {
  width: 31.623931623931625%;
}

.four-sixths,
.two-thirds {
  width: 65.81196581196582%;
}

.one-fourth {
  width: 23.076923076923077%;
}

.three-fourths {
  width: 74.35897435897436%;
}

.one-sixth {
  width: 14.52991452991453%;
}

.five-sixths {
  width: 82.90598290598291%;
}

.first {
  clear: both;
  margin-left: 0;
}

/* ## Gallery
--------------------------------------------- */
.gallery {
  overflow: hidden;
}

.gallery-item {
  float: left;
  margin: 0 0 28px;
  text-align: center;
}

.gallery-columns-1 .gallery-item {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left;
}

.gallery img {
  border: 1px solid #eee;
  height: auto;
  padding: 4px;
}

.gallery img:hover,
.gallery img:focus {
  border: 1px solid #999;
}

/* # Widgets
---------------------------------------------------------------------------------------------------- */
.widget {
  margin-bottom: 40px;
  word-wrap: break-word;
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
  margin-bottom: 0;
}

.widget ul > li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.widget ul > li:last-of-type {
  padding-bottom: 0;
}

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px;
}

.widget li li {
  border: 0;
  margin: 0 0 0 30px;
  padding: 0;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td,
.widget_calendar th {
  text-align: center;
}

/* ## Featured Content
--------------------------------------------- */
.featured-content .entry {
  background: none;
  padding: 0;
}

.featured-content .entry:last-of-type {
  margin-bottom: 0;
}

.featured-content .entry-title {
  font-size: 20px;
  font-size: 2rem;
}

/* ## Screen Reader Text
--------------------------------------------- */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  color: #333;
  background: #fff;
  z-index: 100000;
  /* Above WP toolbar. */
  text-decoration: none;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}

.more-link {
  position: relative;
}

/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link {
  margin: 0;
}

.genesis-skip-link li {
  height: 0;
  width: 0;
  list-style: none;
}

/* Display outline on focus */
:focus {
  color: #333;
  outline: #ccc solid 1px;
}

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
--------------------------------------------- */
.avatar {
  border-radius: 50%;
  float: left;
}

.author-box .avatar,
.alignleft .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

.comment .avatar {
  margin: 0 16px 24px 0;
}

/* ## Genesis
--------------------------------------------- */
.breadcrumb {
  background-color: #fff;
  font-size: 1.6rem;
  font-size: 16px;
  margin-bottom: 1px;
  padding: 12px 30px;
}

.after-entry,
.archive-description,
.author-box {
  background-color: #fff;
  font-size: 18px;
  font-size: 1.8rem;
}

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0;
}

/* ## Search Form
--------------------------------------------- */
.search-form {
  overflow: hidden;
}

.entry-content .search-form,
.site-header .search-form {
  margin-bottom: 40px;
  width: 50%;
}

.site-header .search-form {
  float: right;
  margin: 12px auto 0;
}

.post-password-form input[type="submit"],
.search-form input[type="submit"] {
  margin-top: 10px;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* ## WordPress
--------------------------------------------- */
a.aligncenter img {
  display: block;
  margin: 0 auto;
}

a.alignnone {
  display: inline-block;
}

.alignleft {
  float: left;
  text-align: left;
}

.alignright {
  float: right;
  text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px;
}

img.alignnone,
.alignnone {
  margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
  margin: 0 0 28px;
}

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
--------------------------------------------- */
.sidebar .enews-widget,
.sidebar .enews-widget .widget-title {
  color: #fff;
}

.sidebar .widget.enews-widget {
  background-color: #333;
}

.sidebar .enews-widget input,
.sidebar .enews-widget input:focus {
  border: 1px solid #333;
}

.sidebar .enews-widget input[type="submit"] {
  background-color: #c3251d;
  color: #fff;
}

.sidebar .enews-widget input:hover[type="submit"],
.sidebar .enews-widget input:focus[type="submit"] {
  background-color: #fff;
  color: #333;
}

.enews-widget input {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 16px;
}

.enews-widget input[type="submit"] {
  margin: 0;
  width: 100%;
}

.enews form + p {
  margin-top: 24px;
}

/* ## Jetpack
--------------------------------------------- */
#wpstats {
  display: none;
}

/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  background-color: #fff;
}

/* ## Title Area
--------------------------------------------- */
.title-area {
  float: left;
  padding: 10px 0;
  width: 300px;
}

.header-image .title-area {
  margin: 0 auto;
  max-width: 300px;
  padding: 0;
}

.header-full-width .title-area {
  float: none;
  width: 100%;
}

.site-title {
  font-size: 30px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.site-title a,
.site-title a:hover,
.site-title a:focus {
  color: #333;
  text-decoration: none;
}

.header-image .site-title > a {
  background-position: center !important;
  background-size: contain !important;
  float: left;
  min-height: 80px;
  width: 100%;
}

.site-description {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;
}

.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px;
}

/* ## Widget Area
--------------------------------------------- */
.site-header .widget-area {
  float: right;
  text-align: right;
  width: 800px;
}

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu {
  clear: both;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  width: 100%;
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: left;
}

.genesis-nav-menu a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 32px 20px;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
  color: #00A8FF;
  text-decoration: underline;
}

.genesis-nav-menu .sub-menu {
  border-top: 1px solid #eee;
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  width: 200px;
  z-index: 99;
}

.genesis-nav-menu .sub-menu a {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 0;
  font-size: 14px;
  font-size: 1.4rem;
  padding: 20px;
  position: relative;
  width: 200px;
  word-wrap: break-word;
}

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -56px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
  float: right;
}

/* ## Accessible Menu
--------------------------------------------- */
.menu .menu-item:focus {
  position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1;
}

.sub-menu-toggle,
.menu-toggle {
  display: none;
  visibility: hidden;
}

/* ## Site Header Navigation
--------------------------------------------- */
.site-header .genesis-nav-menu li li {
  margin-left: 0;
}

/* ## After Header Navigation
--------------------------------------------- */
.nav-primary {
  background-color: #fff;
  border-top: 1px solid #eee;
}

/* ## Footer Navigation
--------------------------------------------- */
.site-footer .genesis-nav-menu {
  padding-bottom: 20px;
}

.site-footer .genesis-nav-menu a {
  padding: 0 20px 10px;
}

/* ## Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
  padding: 60px 60px 32px;
}

.entry-comments {
  padding: 60px;
}

.comment-list li {
  padding: 40px 0 0 30px;
}

.comment-list .depth-1 {
  padding-left: 0;
}

.comment-header {
  margin-bottom: 30px;
}

.comment-content {
  clear: both;
}

.comment-content ul > li {
  list-style-type: disc;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.comment-header p {
  margin-bottom: 0;
}

.entry-pings .reply {
  display: none;
}

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
--------------------------------------------- */
/** .entry {
	background-color: #fff;
	margin-bottom: 40px;
	padding: 70px 80px;
}
**/
.entry-content ol,
.entry-content ul {
  margin-bottom: 28px;
  margin-left: 40px;
}

.entry-content ol > li {
  list-style-type: decimal;
}

.entry-content ul > li {
  list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0;
}

.entry-content code {
  background-color: #333;
  color: #eee;
}

/* ## Entry Meta
--------------------------------------------- */
p.entry-meta {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.entry-header .entry-meta {
  margin-bottom: 24px;
}

.entry-footer .entry-meta {
  border-top: 1px solid #eee;
  padding-top: 24px;
}

.entry-categories,
.entry-tags {
  display: block;
}

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px;
}

/* ## Pagination
--------------------------------------------- */
.pagination {
  clear: both;
  margin: 40px 0;
}

.adjacent-entry-pagination {
  margin-bottom: 0;
}

.archive-pagination li {
  display: inline;
}

.archive-pagination a {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 8px 12px;
  text-decoration: none;
}

.archive-pagination a:hover,
.archive-pagination a:focus,
.archive-pagination .active a {
  background-color: #c3251d;
  color: #fff;
}

.footer-widgets, .site-footer {
  color: #cccccc;
  padding-top: 1em;
  font-size: .8em;
  background-color: #363636;
}

.footer-widgets a, .site-footer a {
  color: #cccccc;
}

.footer-widgets a:hover, .site-footer a:hover {
  color: white;
}

.footer-widgets ul > li, .site-footer ul > li {
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-widgets .widget-title, .site-footer .widget-title {
  color: white;
}

.footer-widgets p, .site-footer p {
  text-align: center;
  padding-bottom: .5em;
  margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}

.footer-widgets-1:last-child,
.footer-widgets-2:last-child,
.footer-widgets-3:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3 {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .footer-widgets-1:last-child,
  .footer-widgets-2:last-child,
  .footer-widgets-3:last-child {
    margin-right: 0;
  }
}

.page-template-default .content,
.page-template-page_blog .content,
.single-post .content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page-template-default .content::after,
.page-template-page_blog .content::after,
.single-post .content::after {
  clear: both;
  content: "";
  display: block;
}

.home .content {
  max-width: 100%;
  margin: initial;
}

.entry-title {
  text-align: center;
}

h1:after {
  content: ".";
  margin: 0px 5px 0 0px;
  color: #00A8FF;
  font-size: 1.6em;
}

.home h2 {
  text-align: center;
}

.content-sidebar-wrap section {
  padding: 1em 0;
}

.intro .wrap {
  max-width: 1000px;
  padding: 1em 0;
}

.intro .wrap h1 {
  font-size: 60px;
}

.intro .wrap p {
  font-size: 23px;
}

.intro-content {
  text-align: center;
}

.intro-content h1 {
  font-size: 64px;
}

.intro-content p {
  font-size: 24px;
  font-weight: 300;
}

.checklist {
  position: relative;
  border: 3px solid #00A8FF;
  padding: .5em 2em 2em;
  color: #00A8FF;
  font-size: .6em;
}

.checklist:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border-bottom: 70px solid #00A8FF;
  border-left: 70px solid transparent;
}

.checklist:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 0px;
  height: 0px;
  border-top: 69px solid #eee;
  border-right: 69px solid transparent;
  -webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.checklist .checklist-header img {
  max-height: 100px;
}

.checklist .checklist-header .checklist-heading {
  font-weight: bold;
}

.checklist .checklist-header .checklist-heading li {
  display: inline-block;
}

.checklist .checklist-header .checklist-heading li:after {
  content: ".";
  margin: 0px 3px 0 3px;
  color: #00A8FF;
  font-size: 2.8em;
  position: relative;
  top: -2px;
}

.checklist .checklist-header .checklist-heading li:last-child:after {
  display: none;
}

.checklist ul.check-list {
  padding-left: 2em;
}

.checklist ul.check-list li {
  margin-bottom: .3em;
  list-style-type: none;
  position: relative;
}

.checklist ul.check-list li:before {
  font-family: 'dashicons';
  display: inline-block;
  content: "\f147";
  margin: -20px 0px 0 -47px;
  color: #00A8FF;
  font-size: 2.5em;
  word-wrap: break-word;
  position: relative;
  left: 0;
  top: 15px;
}

.services {
  background-color: rgba(52, 174, 255, 0.08);
  background-image: -webkit-linear-gradient(30deg, rgba(239, 249, 255, 0.13) 45%, rgba(76, 191, 255, 0.07) 45%);
  position: relative;
}

.services .wrap {
  max-width: 1100px;
}

.services:after {
  content: '';
  background-color: rgba(52, 174, 255, 0.08);
  background-image: -webkit-linear-gradient(30deg, rgba(239, 249, 255, 0.13) 45%, rgba(76, 191, 255, 0.07) 45%);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.services h2 {
  font-size: 48px;
}

.services .service h3 {
  font-size: 36px;
}

.services .service p {
  font-size: 18px;
  text-align: left;
}

.partners {
  background-color: #fff;
  min-height: 150px;
}

.partners,
.betas {
  padding-top: 1.4em;
}

.partners .button,
.betas .button {
  display: inline-block;
}

.partners .partner-info,
.partners .betas-info,
.betas .partner-info,
.betas .betas-info {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%;
}

.partners .partner-info:last-child,
.partners .betas-info:last-child,
.betas .partner-info:last-child,
.betas .betas-info:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .partners .partner-info,
  .betas .partner-info {
    float: left;
  }
}

.partners .partner-badge,
.partners .betas-badge,
.betas .partner-badge,
.betas .betas-badge {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 48.93617%;
}

.partners .partner-badge:last-child,
.partners .betas-badge:last-child,
.betas .partner-badge:last-child,
.betas .betas-badge:last-child {
  margin-right: 0;
}

.partners .partner-badge img,
.partners .betas-badge img,
.betas .partner-badge img,
.betas .betas-badge img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .partners .partner-badge,
  .betas .partner-badge {
    float: right;
  }
}

.challenges .wrap h2 {
  font-size: 40px;
  color: #b52996;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.challenges .wrap p {
  font-size: 24px;
  font-weight: 100;
}

.challenges-info {
  margin-bottom: 2em;
  text-align: center;
}

.challenges-info a {
  margin: 0 auto;
}

.challenges-info p {
  font-size: 24px;
}

.button.magenta {
  background: #b52996;
  padding: 17px 19px;
  font-size: 18px;
}

@media screen and (max-width: 480px) {
  .button.magenta {
    padding: 18px 20px;
  }
}

.button.magenta:hover {
  background: #aa1b67;
  color: white;
}

.secondary {
  background: #ffffff;
  color: #0298e5;
  border: 1px solid #b3b3b3;
  font-size: 18px;
  padding: 15px 25px;
  margin: auto;
}

.secondary:hover {
  color: white;
  background: #aa1b67;
}

.partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.partners-list .logo {
  width: 200px;
}

.partners-list .logo img {
  max-width: 100%;
  height: auto;
  padding: 5px;
}

.partners-list .logo p {
  text-align: center;
}

.skills {
  position: relative;
  background-color: rgba(52, 174, 255, 0.08);
  background-image: -webkit-linear-gradient(30deg, rgba(239, 249, 255, 0.13) 45%, rgba(76, 191, 255, 0.07) 45%);
}

.skills h2 {
  font-size: 29px;
}

.skills .category h2 {
  font-size: 24px;
}

.skills .category ul {
  font-size: 14px;
  list-style-type: disc !important;
}

.how-works {
  background-color: #fff;
  min-height: 260px;
  text-align: center;
}

.how-works h2 {
  font-size: 25px;
}

.how-works .step {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
  width: 30.40426%;
}

.how-works .step:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .how-works .step {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .how-works .step:last-child {
    margin-right: 0;
  }
}

.how-works .step .number {
  font-weight: 800;
  font-size: 1.7em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #00A8FF;
  border: 3px solid #00A8FF;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.testimonials .testimonial {
  margin-bottom: 1.3em;
}

.testimonials .testimonial::after {
  clear: both;
  content: "";
  display: block;
}

.testimonials .testimonial img {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 120.51282%;
  margin: 0 auto;
  float: none;
  border-radius: 20px;
  max-height: 150px;
  width: auto;
}

.testimonials .testimonial img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .testimonials .testimonial img {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 22.58065%;
    float: left;
  }
  .testimonials .testimonial img:last-child {
    margin-right: 0;
  }
}

.testimonials .testimonial .quote {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 120.51282%;
}

.testimonials .testimonial .quote:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .testimonials .testimonial .quote {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 125.80645%;
  }
  .testimonials .testimonial .quote:last-child {
    margin-right: 0;
  }
}

.testimonials .testimonial .quote span.author,
.testimonials .testimonial .quote span.organization {
  padding-left: 40px;
  font-weight: bold;
}

.testimonials .testimonial .quote span.organization {
  color: #00A8FF;
}

.testimonials .testimonial .quote:before {
  font-family: 'dashicons';
  content: "\f122";
  font-size: 2em;
  margin: 0 5px 0 -15px;
  color: #00A8FF;
  float: left;
}

.about {
  background-color: rgba(52, 174, 255, 0.13);
}

.about .wrap {
  color: #333;
  max-width: 1000px;
}

.about .wrap h2 {
  font-size: 29px;
}

.about .wrap p {
  font-size: 19px;
}

.how-works .category ul {
  list-style-type: disc;
  text-align: left;
}

.partner-profile {
  border: 6px solid #00A8FF;
  border-radius: 12px;
  padding: .5em;
  text-align: center;
}

.partner-profile img {
  border-radius: 50%;
  border: 3px solid #00A8FF;
  width: 150px;
  height: 150px;
  margin-bottom: .75em;
}

.partner-profile h4 {
  font-size: .8em;
  margin-bottom: .1em;
}

.partner-profile p {
  font-size: .6em;
}

.gallery {
  margin-top: 2em;
}

.gallery li {
  display: inline-block;
}

.single-upleap_agencies .content-sidebar-wrap section {
  border-top: unset;
}

.single-upleap_agencies .col-third-left {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}

.single-upleap_agencies .col-third-left:last-child {
  margin-right: 0;
}

.single-upleap_agencies .col-third-right {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
}

.single-upleap_agencies .col-third-right:last-child {
  margin-right: 0;
}

.single-upleap_agencies .col-third-right > section,
.single-upleap_agencies .agency-details,
.single-upleap_agencies .agency-address {
  background: #fff;
  border-radius: 10px;
  padding: 2em;
  margin-bottom: 1em;
}

.single-upleap_agencies .agency-details {
  padding: 1em;
}

.single-upleap_agencies .agency-details a {
  margin-left: .3em;
}

.single-upleap_agencies h1 {
  margin-bottom: .2em;
}

.single-upleap_agencies h2 {
  font-weight: normal;
  display: inline-block;
}

.single-upleap_agencies h3 {
  margin-bottom: .3rem;
}

.team-members.flex-groups .flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 100px;
          flex: 1 100px;
  margin: 0;
}

.team-members.flex-groups .partner-profile {
  border: none;
  padding: 0;
}

.team-members.flex-groups .partner-profile img {
  width: 100px;
  height: 100px;
}

.team-members.flex-groups .partner-profile h3 {
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 0.1em;
}

.blue-underline {
  border-bottom: 3px solid #00A8FF;
}

.strengths ul {
  margin: 24px auto;
  padding-left: 2em;
  list-style-type: disc;
}

.clients .flex-groups .flex-item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.page-template-partners h2,
.page-template-big-brands h2,
.page-template-startups h2 {
  text-align: center;
}

.page-template-partners .intro,
.page-template-big-brands .intro,
.page-template-startups .intro {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 .75em 0;
}

.page-template-partners .intro p,
.page-template-big-brands .intro p,
.page-template-startups .intro p {
  margin: 0;
}

.page-template-partners .intro .button,
.page-template-big-brands .intro .button,
.page-template-startups .intro .button {
  margin: 25px auto;
  display: inline-block;
}

.page-template-partners .intro .button.first,
.page-template-big-brands .intro .button.first,
.page-template-startups .intro .button.first {
  margin-right: 25px;
}

.page-template-partners .how-it-works,
.page-template-big-brands .how-it-works,
.page-template-startups .how-it-works {
  text-align: center;
}

.page-template-partners .how-it-works .step,
.page-template-big-brands .how-it-works .step,
.page-template-startups .how-it-works .step {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 23.40426%;
}

.page-template-partners .how-it-works .step:last-child,
.page-template-big-brands .how-it-works .step:last-child,
.page-template-startups .how-it-works .step:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .page-template-partners .how-it-works .step,
  .page-template-big-brands .how-it-works .step,
  .page-template-startups .how-it-works .step {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .page-template-partners .how-it-works .step:last-child,
  .page-template-big-brands .how-it-works .step:last-child,
  .page-template-startups .how-it-works .step:last-child {
    margin-right: 0;
  }
}

.page-template-partners .how-it-works .step .number,
.page-template-big-brands .how-it-works .step .number,
.page-template-startups .how-it-works .step .number {
  font-weight: 800;
  font-size: 2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #00A8FF;
  border: 3px solid #00A8FF;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.page-template-partners .challenges,
.page-template-big-brands .challenges,
.page-template-startups .challenges {
  text-align: center;
}

.page-template-partners .challenges .step,
.page-template-big-brands .challenges .step,
.page-template-startups .challenges .step {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
}

.page-template-partners .challenges .step:last-child,
.page-template-big-brands .challenges .step:last-child,
.page-template-startups .challenges .step:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .page-template-partners .challenges .step,
  .page-template-big-brands .challenges .step,
  .page-template-startups .challenges .step {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .page-template-partners .challenges .step:last-child,
  .page-template-big-brands .challenges .step:last-child,
  .page-template-startups .challenges .step:last-child {
    margin-right: 0;
  }
}

.page-template-partners .challenges .step .number,
.page-template-big-brands .challenges .step .number,
.page-template-startups .challenges .step .number {
  font-weight: 800;
  font-size: 2em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #00A8FF;
  border: 3px solid #00A8FF;
  height: 150px;
  width: 150px;
  border-radius: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.page-template-signup-form .acf-checkbox-list li {
  float: left;
  width: 25%;
}

.page-template-signup-form .site-inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.page-template-signup-form .site-inner::after {
  clear: both;
  content: "";
  display: block;
}

.page-template-signup-form .acf-field .acf-label label,
.page-template-signup-form .acf-field .acf-label p,
.page-template-signup-form a.acf-button,
.page-template-signup-form .acf-image-uploader p {
  font-size: 20px !important;
}

.page-template-challenge-form .entry-header {
  display: none;
}

.page-template-challenge-form main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.page-template-challenge-form main::after {
  clear: both;
  content: "";
  display: block;
}

.page-template-challenge-form .gform_wrapper {
  padding: 20px;
}

.page-template-challenge-form .gform_wrapper input:focus,
.page-template-challenge-form .gform_wrapper textarea:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.page-template-challenge-form .gform_wrapper .top_label li.gfield.gf_right_third div:not(.ginput_container_date) select.medium {
  height: 40px;
}

.page-template-challenge-form .gform_wrapper .buttons [type="radio"]:checked,
.page-template-challenge-form .gform_wrapper .buttons [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.page-template-challenge-form .gform_wrapper .buttons [type="radio"]:checked + label,
.page-template-challenge-form .gform_wrapper .buttons [type="radio"]:not(:checked) + label {
  border: 1px solid #B3B3B3;
  padding: 10px 25px;
  border-radius: 5px;
  -webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.68, 1.13);
  transition: all 0.15s cubic-bezier(0.35, 0, 0.68, 1.13);
  color: #d62282;
}

.page-template-challenge-form .gform_wrapper .buttons [type="radio"]:checked + label:hover,
.page-template-challenge-form .gform_wrapper .buttons [type="radio"]:not(:checked) + label:hover {
  background: #d62282;
  color: white;
}

.page-template-challenge-form .gform_wrapper .buttons [type="radio"]:checked + label {
  background: #d62282;
  color: white;
}

.page-template-challenge-form .gform_wrapper .brand-category ul:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:checked,
.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:not(:checked) {
  position: absolute;
  left: -999999px;
}

.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:checked + label,
.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:not(:checked) + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:checked + label li,
.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:not(:checked) + label li {
  font-weight: 500;
  overflow: visible;
  font-size: .5em;
  list-style-type: none !important;
  margin: auto;
}

.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:checked + label h3,
.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:not(:checked) + label h3 {
  font-size: .8em;
  margin-top: 10px;
  border: 1px solid #B3B3B3;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  margin-bottom: 25px;
  color: #d62282;
}

.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:checked + label h3:hover,
.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:not(:checked) + label h3:hover {
  background: #d62282 !important;
  color: white !important;
}

.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:checked + label img,
.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:not(:checked) + label img {
  max-width: 150px;
  height: auto;
  margin: 20px;
}

.page-template-challenge-form .gform_wrapper .brand-category ul:first-child [type="radio"]:checked + label h3 {
  background: #d62282 !important;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .page-template-challenge-form .gform_wrapper .brand-category ul:first-child {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .page-template-challenge-form .gform_wrapper .brand-category ul:first-child:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .page-template-challenge-form .gform_wrapper .brand-category ul:first-child {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .page-template-challenge-form .gform_wrapper .brand-category ul:first-child:last-child {
    margin-right: 0;
  }
}

.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked,
.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) {
  position: absolute;
  left: -999999px;
}

.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label,
.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #d62282;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  margin-bottom: 25px;
  background: #FFEEF6;
  margin: auto;
}

.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label li,
.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) + label li {
  font-weight: 500;
  overflow: visible;
  font-size: .5em;
  list-style-type: none !important;
}

@media screen and (max-width: 768px) {
  .page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label li,
  .page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) + label li {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 48.3871%;
  }
  .page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label li:last-child,
  .page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) + label li:last-child {
    margin-right: 0;
  }
}

.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label h3,
.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) + label h3 {
  font-size: .8em;
  margin-top: 10px;
}

.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label:hover,
.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) + label:hover {
  background: #d62282 !important;
  color: white !important;
}

.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label img,
.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) + label img {
  width: 150px;
  height: auto;
}

.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label {
  background: #d62282 !important;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .page-template-challenge-form .gform_wrapper .challenge-category ul:first-child {
    float: left;
    display: block;
    margin-right: 3.22581%;
    width: 74.19355%;
  }
  .page-template-challenge-form .gform_wrapper .challenge-category ul:first-child:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .page-template-challenge-form .gform_wrapper .challenge-category ul:first-child {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .page-template-challenge-form .gform_wrapper .challenge-category ul:first-child:last-child {
    margin-right: 0;
  }
}

.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child .gform_wrapper ul.gfield_radio li {
  margin: auto;
}

.page-template-challenge-form .gform_wrapper .gform_footer {
  text-align: center;
}

.page-template-challenge-form .gform_wrapper .gform_footer input[type="submit"] {
  width: 24%;
  font-size: 2em;
}

@media screen and (max-width: 480px) {
  .page-template-challenge-form .gform_wrapper .gform_footer input[type="submit"] {
    width: 100%;
    line-height: 1 !important;
  }
}

.page-template-challenge-form .disclaimer {
  text-align: center;
  font-size: 14px;
  color: #d62282;
}

.gform_wrapper li.gfield.gf_list_2col ul.gfield_radio li {
  text-align: center;
  margin: auto;
}

.gform_wrapper .gform_button {
  background-color: #d62282;
  color: #ffff;
  font-size: 1em;
}

.gform_wrapper input[type=text],
.gform_wrapper input[type=email],
.gform_wrapper input[type=url],
.gform_wrapper textarea {
  border: 1px solid #B3B3B3;
}

.gform_wrapper input[type=text]:focus,
.gform_wrapper input[type=email]:focus,
.gform_wrapper input[type=url]:focus,
.gform_wrapper textarea:focus {
  outline: none !important;
}

.gform_wrapper .challenge-category .top_label li ul.gfield_radio {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.gform_wrapper .challenge-category .top_label li ul.gfield_radio::after {
  clear: both;
  content: "";
  display: block;
}

.gform_wrapper .challenge-category ul.gfield_radio li {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 28.20513%;
}

.gform_wrapper .challenge-category ul.gfield_radio li:last-child {
  margin-right: 0;
}

.gform_wrapper .challenge-category ul.gfield_radio li:nth-child(3n) {
  margin-right: 0;
}

.gform_wrapper .challenge-category ul.gfield_radio li:nth-child(3n+1) {
  clear: left;
}

@media screen and (max-width: 480px) {
  .gform_wrapper .challenge-category ul.gfield_radio li {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .gform_wrapper .challenge-category ul.gfield_radio li:last-child {
    margin-right: 0;
  }
}

.gform_wrapper .challenge-category ul:first-child [type="radio"]:checked + label li,
.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked) + label li {
  width: 100%;
  text-align: center;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1340px) {
  .site-inner,
  .wrap {
    max-width: 1140px;
  }
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 920px;
  }
  .content,
  .site-header .widget-area {
    width: 800px;
  }
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 580px;
  }
  .sidebar-primary {
    width: 300px;
  }
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3 {
    width: 340px;
  }
  .footer-widgets-1 {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1200px) {
  .site-inner,
  .wrap {
    max-width: 960px;
  }
  .content-sidebar-sidebar .content-sidebar-wrap,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-sidebar-content .content-sidebar-wrap {
    width: 740px;
  }
  .content,
  .site-header .widget-area {
    width: 620px;
  }
  .sidebar-content-sidebar .content,
  .sidebar-sidebar-content .content,
  .content-sidebar-sidebar .content {
    width: 400px;
  }
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3 {
    width: 300px;
  }
  .footer-widgets-1 {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1023px) {
  .site-inner,
  .wrap {
    max-width: 800px;
  }
  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .js .genesis-nav-menu .sub-menu a,
  .js .genesis-nav-menu .sub-menu,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .site-header .widget-area,
  .title-area {
    width: 100%;
  }
  .site-header .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }
  .genesis-nav-menu li,
  .header-image .title-area,
  .site-header ul.genesis-nav-menu,
  .site-header .search-form {
    float: none;
  }
  .genesis-nav-menu,
  .site-description,
  .site-header .title-area,
  .site-header .widget-area,
  .site-title {
    text-align: center;
  }
  .site-header .search-form {
    margin: 16px auto;
  }
  .js nav.nav-primary,
  .js .site-header nav {
    display: none;
    position: relative;
  }
  .js .site-header nav .wrap {
    padding: 0;
  }
  .js nav.pagination {
    display: block;
  }
  .menu-toggle,
  .sub-menu-toggle {
    border-width: 0;
    background-color: #fff;
    color: #333;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    visibility: visible;
  }
  .sub-menu-toggle:hover,
  .sub-menu-toggle:focus {
    border-width: 0;
  }
  .menu-toggle {
    border-top: 1px solid #eee;
    line-height: 20px;
    position: relative;
    right: 0;
    z-index: 1000;
    width: 100%;
  }
  .site-header .menu-toggle {
    border: 0;
  }
  .menu-toggle:before,
  .menu-toggle.activated:before {
    margin-right: 10px;
    text-rendering: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .sub-menu-toggle {
    float: right;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
  }
  .sub-menu-toggle:before {
    display: inline-block;
    text-rendering: auto;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .sub-menu-toggle.activated:before {
    content: "\f142";
  }
  .js .nav-primary .genesis-nav-menu .menu-item,
  .js .site-header .genesis-nav-menu .menu-item {
    display: block;
    float: none;
    margin: 1px 0;
    position: relative;
    text-align: left;
  }
  .js .genesis-nav-menu .menu-item:hover {
    position: relative;
  }
  .js .nav-primary .genesis-nav-menu .menu-item a,
  .js .site-header .genesis-nav-menu .menu-item a {
    border: none;
    padding: 12px 0;
    width: 100%;
  }
  .js .genesis-nav-menu .sub-menu {
    border: none;
  }
  .js .genesis-nav-menu .menu-item > a:focus ul.sub-menu,
  .js .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
    left: 0;
    margin-left: 0;
  }
  .js .genesis-nav-menu > .menu-item-has-children > a:after {
    content: none;
  }
  .js .genesis-nav-menu .sub-menu {
    clear: both;
    display: none;
    margin: 0;
    opacity: 1;
    padding-left: 15px;
    position: static;
    width: 100%;
  }
  .js .genesis-nav-menu .sub-menu .sub-menu {
    margin: 0;
  }
  .js nav button:hover,
  .js .menu-toggle:hover,
  .js .nav-primary {
    background-color: #fff;
    color: #000;
  }
  .js nav button:focus,
  .js .menu-toggle:focus {
    background-color: #fff;
    color: #c3251d;
  }
  .footer-widgets-1,
  .footer-widgets-2 {
    margin: 0 auto 40px;
  }
}

@media only screen and (max-width: 860px) {
  body > div {
    font-size: 1.3rem;
  }
  body {
    font-size: 16px;
    font-size: 1.3rem;
  }
  .site-inner {
    padding: 0;
  }
  .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }
  .after-entry,
  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings,
  .sidebar .widget {
    padding: 30px;
    margin-bottom: 5%;
  }
  .sidebar {
    margin-bottom: 5%;
  }
  .pagination {
    margin: 5% auto;
  }
  .archive-pagination li a {
    margin-bottom: 4px;
  }
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%;
  }
}

/* # Print Styles
---------------------------------------------------------------------------------------------------- */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after,
  .site-title > a:after {
    content: "";
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 2cm 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  blockquote,
  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  .content,
  .content-sidebar {
    width: 100%;
  }
  button,
  input,
  select,
  textarea,
  .breadcrumb,
  .comment-edit-link,
  .comment-form,
  .comment-list .reply a,
  .comment-reply-title,
  .edit-link,
  .entry-comments-link,
  .entry-footer,
  .genesis-box,
  .header-widget-area,
  .hidden-print,
  .home-top,
  .nav-primary,
  .nav-secondary,
  .post-edit-link,
  .sidebar {
    display: none !important;
  }
  .title-area {
    text-align: center;
    width: 100%;
  }
  .site-title > a {
    margin: 0;
    text-decoration: none;
    text-indent: 0;
  }
  .site-inner {
    padding-top: 0;
    position: relative;
    top: -100px;
  }
  .author-box {
    margin-bottom: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    orphans: 3;
    page-break-after: avoid;
    page-break-inside: avoid;
    widows: 3;
  }
  img {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  blockquote,
  pre,
  table {
    page-break-inside: avoid;
  }
  dl,
  ol,
  ul {
    page-break-before: avoid;
  }
}

.skilled .wrap {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.skilled .wrap ul {
  font-size: 16px;
  list-style-type: disc;
}

.skilled .wrap .skill {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 38.46154%;
}

.skilled .wrap .skill:last-child {
  margin-right: 0;
}

.skilled .wrap .skill:nth-child(3n) {
  margin-right: 0;
}

.skilled .wrap .skill:nth-child(3n+1) {
  clear: left;
}

.special .wrap .heading {
  text-align: center;
}

.special .wrap .heading .title {
  font-size: 2rem;
}

.special .wrap .heading .sub-title {
  padding-bottom: 40px;
  font-size: 18px;
}

.special .wrap .case {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.special .wrap .case .case-study {
  text-align: center;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.special .wrap .case .case-study .service-label {
  font-size: 16px;
}

.special .wrap .case .case-study img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .special .wrap .case .case-study {
    width: 33%;
  }
  .special .wrap .case .case-study .service-label {
    font-size: 15px;
  }
  .special .wrap .case .case-study img {
    max-width: 60%;
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .special .wrap .case .case-study {
    width: 33%;
  }
  .special .wrap .case .case-study .service-label {
    font-size: 12px;
  }
}

.special .wrap .case .case-study img {
  width: 200px;
}

.case-studies .case-study {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .case-studies .case-study {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .case-studies .case-study:last-child {
    margin-right: 0;
  }
}

.case-studies .case-study .case-content {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 65.95745%;
}

.case-studies .case-study .case-content:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .case-studies .case-study .case-content {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .case-studies .case-study .case-content:last-child {
    margin-right: 0;
  }
}

.case-studies .case-study .case-content p {
  font-size: 19px;
  text-align: justify;
}

.case-studies .case-study .case-image {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 31.91489%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.case-studies .case-study .case-image:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .case-studies .case-study .case-image {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .case-studies .case-study .case-image:last-child {
    margin-right: 0;
  }
}

.case-studies .case-study .case-image img {
  width: 300px;
  height: 300px;
}

.partners .wrap h2 {
  text-align: center;
}

.find-partner .find-partner-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.find-partner .find-partner-container::after {
  clear: both;
  content: "";
  display: block;
}

.find-partner .find-partner-container .left-content {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 58.97436%;
}

.find-partner .find-partner-container .left-content:last-child {
  margin-right: 0;
}

.find-partner .find-partner-container .right-image {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 38.46154%;
}

.find-partner .find-partner-container .right-image:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .find-partner .find-partner-container .left-content, .find-partner .find-partner-container .right-image {
    float: left;
    display: block;
    margin-right: 6.66667%;
    width: 100%;
  }
  .find-partner .find-partner-container .left-content:last-child, .find-partner .find-partner-container .right-image:last-child {
    margin-right: 0;
  }
}

.newsletter .wrap {
  padding: 20px;
}

.newsletter .wrap .newsletter-form {
  background-color: #69c9be;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .newsletter .wrap .newsletter-form {
    display: block;
  }
}

.newsletter .wrap .newsletter-form .header {
  width: 40%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .newsletter .wrap .newsletter-form .header {
    width: 100%;
    text-align: unset;
  }
}

.newsletter .wrap .newsletter-form .header h4 {
  margin: 0;
  font-weight: 700;
  padding: 20px;
  color: #FFF;
}

.newsletter .wrap .newsletter-form .form {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .newsletter .wrap .newsletter-form .form {
    width: 100%;
  }
}

.newsletter .wrap .newsletter-form .form .gform_wrapper {
  margin: 0px 0;
}

.newsletter .wrap .newsletter-form .form .gform_wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .newsletter .wrap .newsletter-form .form .gform_wrapper form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
}

.newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_heading {
  display: none;
}

.newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_body {
  width: 70%;
}

@media screen and (max-width: 768px) {
  .newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_body {
    width: 100%;
  }
}

.newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_body li.gfield {
  margin-top: 0;
}

.newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_body li.hidden_label input {
  padding: 10px;
}

.newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_footer {
  width: 30%;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_footer {
    width: 100%;
    text-align: center;
  }
}

.newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_footer input[type=submit] {
  margin: 0;
  max-width: 100%;
  width: 80%;
  background-color: transparent;
  border: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  .newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_footer input[type=submit] {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .newsletter .wrap .newsletter-form .form .gform_wrapper form .gform_footer input[type=submit] {
    width: 100%;
    padding: 0px;
  }
}
