html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.three-col {
	@include span-columns(12);
	text-align: center;
	margin-bottom: 2em;
	@include media($tablet) {
		 @include span-columns(4)
	}
}

.two-col {
	@include span-columns(12);
	text-align: center;
	margin-bottom: 2em;
	@include media($tablet) {
		 @include span-columns(6)
	}
}



.flex-groups,
.flex-item {
  display: flex;
  flex-wrap: wrap;
  .flex-item {
    flex: 1 300px;
    flex-direction: column;
    margin-bottom: 1.5em;
    margin: 1em;
    img {
      max-height: 200px;
      max-width: 200px;
      align-self: center;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1em;
    }

    ul {
      align-self: center;
    }
    .button {
      margin-top: auto;
      align-self: center;
    }
  }
}
