// Breakpoints
// $medium-screen: 600px;
// $tablet: 861px;
// $desktop: 900px;

// Typography
$base-font-family: 'Roboto', helvetica, sans-serif ;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 18px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1em;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #00A8FF;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #B3B3B3;
$magenta: #d62282;
$light-magenta:#FFEEF6;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

$footer-background-color: $dark-gray;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
