.single-upleap_agencies {
    
    .content-sidebar-wrap section { 
            border-top: unset;
        }
    
  .col-third-left {
     @include span-columns(4 of 12)
  }
  .col-third-right {
  		 @include span-columns(8 of 12)
  }
  .col-third-right > section,
  .agency-details,
  .agency-address {
    background: #fff;
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 1em;
  }

  .agency-details {
    padding: 1em;
    a {
      margin-left: .3em;
    }
  }

  h1 {
    margin-bottom: .2em;
  }

  h2 {
    font-weight: normal;
    display: inline-block;
  }

  h3 {
    margin-bottom: .3rem;
  }
}

.team-members.flex-groups  {
  .flex-item {
    flex: 1 100px;
    margin: 0;
  }
  .partner-profile {
    border: none;
    padding: 0;
    img {
      width: 100px;
      height: 100px;
    }

    h3 {
      font-weight: normal;
      font-size: 1em;
      margin-bottom: 0.1em;
    }
  }
}

.blue-underline {
  border-bottom: 3px solid #00A8FF;
}

.strengths {
  ul {
    margin: 24px auto;
    padding-left: 2em;
    list-style-type: disc;
  }
}

.clients {
  .flex-groups .flex-item {
    flex-direction: row;
    margin: 0;
  }
}
