.page-template-signup-form {
    .acf-checkbox-list {
        li {
            float: left;
            width: 25%;
        }
    }
    .site-inner {
        @include outer-container();
        margin-bottom: 1em;
    }
    .acf-field .acf-label label,
    .acf-field .acf-label p,
    a.acf-button,
    .acf-image-uploader p {
        font-size: 20px!important;
    }
}
