.skilled {
    .wrap {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        ul {
            font-size: 16px;
            list-style-type: disc;
        }
        .skill {
            @include span-columns(4);
            @include omega(3n);
        }
    }
}