.page-template-challenge-form {
    .entry-header {
        display: none;
    }

    main {
        @include outer-container();
    }

    .gform_wrapper {
        padding: 20px;

        input:focus,
        textarea:focus {
            box-shadow: none !important;
        }

        .top_label li.gfield.gf_right_third div:not(.ginput_container_date) select.medium {
            height: 40px;
        }

        .buttons [type="radio"]:checked,
        .buttons [type="radio"]:not(:checked) {

            position: absolute;
            left: -9999px;

            +label {
                border: 1px solid $light-gray;
                padding: 10px 25px;
                border-radius: 5px;
                transition: all .15s cubic-bezier(0.35, 0, 0.68, 1.13);
                color: $magenta;

                &:hover {
                    background: $magenta;
                    color: white;
                }
            }

        }

        .buttons [type="radio"]:checked {
            +label {
                background: $magenta;
                color: white;
            }

        }

        .brand-category ul:first-child {
            display: flex;
            flex-direction: row;

            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -999999px;

                +label {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin: auto;

                    li {
                        font-weight: 500;
                        overflow: visible;
                        font-size: .5em;
                        list-style-type: none !important;
                        margin: auto;
                    }

                    h3 {
                        font-size: .8em;
                        margin-top: 10px;
                        border: 1px solid $light-gray;
                        padding: 10px;
                        border-radius: 5px;
                        transition: all .25s ease-in;
                        margin-bottom: 25px;
                        color: $magenta;

                        &:hover {
                            background: $magenta !important;
                            color: white !important;
                        }
                    }

                    img {
                        max-width: 150px;
                        height: auto;
                        margin: 20px;
                    }
                }
            }


            [type="radio"]:checked {
                +label {
                    h3 {
                        background: $magenta !important;
                        color: white !important;
                    }
                }
            }

            @include media($tablet) {
                @include span-columns(6);

            }

            @include media($mobile) {
                @include span-columns(4);
            }

        }


        .challenge-category ul:first-child {

            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -999999px;

                +label {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border: 1px solid $magenta;
                    padding: 10px;
                    border-radius: 5px;
                    transition: all .25s ease-in;
                    margin-bottom: 25px;
                    background: $light-magenta;
                    margin: auto;

                    li {
                        font-weight: 500;
                        overflow: visible;
                        font-size: .5em;
                        list-style-type: none !important;

                        @include media($tablet) {
                            @include span-columns(4);

                        }
                    }

                    h3 {
                        font-size: .8em;
                        margin-top: 10px;
                    }

                    &:hover {
                        background: $magenta !important;
                        color: white !important;
                    }

                    img {
                        width: 150px;
                        height: auto;
                    }

                }

            }


            [type="radio"]:checked {
                +label {
                    background: $magenta !important;
                    color: white !important;
                }
            }

            @include media($tablet) {
                @include span-columns(6);

            }

            @include media($mobile) {
                @include span-columns(4);
            }

            .gform_wrapper ul.gfield_radio li {
                margin: auto;
            }

        }

        .gform_footer {
            text-align: center;

            input[type="submit"] {
                width: 24%;
                font-size: 2em;

                @include media($mobile) {
                    width: 100%;
                    line-height: 1 !important;
                }

            }
        }
    }

    .disclaimer {
        text-align: center;
        font-size: 14px;
        color: $magenta;
    }

}


.gform_wrapper {
    li.gfield.gf_list_2col ul.gfield_radio li {
        text-align: center;
        margin: auto;
    }


    .gform_button {
        background-color: $magenta;
        color: #ffff;
        font-size: 1em;

    }

    input[type=text],
    input[type=email],
    input[type=url],
    textarea {
        border: 1px solid $light-gray;

        &:focus {
            outline: none !important;
        }
    }

}


.gform_wrapper .challenge-category .top_label li ul.gfield_radio {
    @include outer-container();
}

.gform_wrapper .challenge-category ul.gfield_radio li {
    @include span-columns(3);
    @include omega(3n);

    @include media($mobile) {
        @include span-columns(4);
    }

}

.gform_wrapper .challenge-category ul:first-child [type="radio"]:checked+label li,
.page-template-challenge-form .gform_wrapper .challenge-category ul:first-child [type="radio"]:not(:checked)+label li {
    width: 100%;
    text-align: center;
}