
/* Colors
---------------------------------------------------------------------------------------------------- */

$color-site-bg:								#f5f5f5;
$color-container-bg:					#eee;
$color-dark-bg: 							#333;
$color-body:									#333;
$color-light-text:						#999;
$color-link:									#000;
$color-link-visited:					$color-link;
$color-link-hover:						#333;
$color-light-link:						#fff;
$color-base-border:           rgba(26, 46, 90, 0.8);
$color-menu-bg:								#fff;
$color-menu-link:							#333;
$color-menu-link-hover:				$color-link-hover;
$color-current-menu:					#000;
$color-current-menu-bg:			  #ddd;
$color-button-bg:							#00A8FF;
$color-button-hover: 					#000;
$color-button-border:	      	$color-base-border;
$color-dark-on-light:					#000;
$color-light-on-dark:					#fff;
$upleap-button-color:                 #b52996;
