/* Defaults
---------------------------------------------------------------------------------------------------- */

/* Typographical Elements
--------------------------------------------- */

html,body {
	background-color: $color-site-bg;
	color: $color-body;
	font-size: $base-font-size;
	font-family: $base-font-family;
	font-weight: $base-font-weight;
	line-height: $base-font-line-height;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img{
	@include transition(all, 0.1s, ease-in-out);
}

::-moz-selection,
::selection {
	background-color: $color-dark-bg;
	color: $color-light-link;
}

a {
	color: $color-link;
	text-decoration: none;
	&:hover {
		color: $color-link-hover;
	}
}

p {
	margin: 0 0 30px;
	padding: 0;
}

ol,
ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

b,
strong {
	font-weight: $heading-font-weight;
}

blockquote,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 40px;
	&::before {
		content: "\201C";
		display: block;
		font-size: 30px;
		height: 0;
		left: -20px;
		position: relative;
		top: -10px;
	}
}

/* Headings
--------------------------------------------- */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: $color-body;
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: $heading-font-line-height;
	margin: 0 0 20px;
}

h1, .h1 { font-size: em(60px); }
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { font-size: em(48px); }


/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

img,
figure {
	margin: 0;
	height: auto;
}

.featured-content img {
	width: auto;
}

.gallery {
	img {
		width: auto;
	}
	overflow: hidden;
}

/* Gallery
--------------------------------------------- */

.gallery-item {
	margin: 0 0 30px;
	text-align: center;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.6666%;
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%;
}

.gallery img {
	border: $base-border;
	height: auto;
	padding: 4px;
	&:hover {
		border: 1px solid #999;
	}
}

/* Forms
--------------------------------------------- */

input,
select,
textarea {
	background-color: $color-container-bg;
	border-color: $color-base-border;
	border-radius: 3px;
	color: $color-body;
	font-size: $base-font-size;
	font-weight: $base-font-weight;
	padding: 16px;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

textarea {
	border-width: 1px;
}

input:focus,
textarea:focus {
	border: 1px solid #999;
	outline: none;
}

input {
	&[type="checkbox"],
	&[type="image"],
	&[type="radio"] {
		width: auto;
	}
}

::-moz-placeholder,
::-webkit-input-placeholder {
	color: $color-body;
	font-weight: $base-font-weight;
	-webkit-font-smoothing: antialiased;
}

::-moz-placeholder {
	opacity: 1;
}

button,
.button {
	@include background-text-combo($color-button-bg, $color-light-link);
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	font-weight: $base-font-weight;
	letter-spacing: 1px;
	padding: 16px 24px;
	text-decoration: none;
	white-space: normal;
	width: auto;
}
input {
	&[type="button"],
	&[type="reset"],
	&[type="submit"] {
		@include background-text-combo($color-button-bg, $color-light-link);
		border: 0;
		border-radius: 3px;
		cursor: pointer;
		font-size: 16px;
		font-weight: $base-font-weight;
		letter-spacing: 1px;
		padding: 16px 24px;
		text-decoration: none;
		white-space: normal;
		width: auto;
	}
}

.footer-widgets {
	button,
	.button {
		@include background-text-combo($color-link, $color-light-link);
	}
	input {
		&[type="button"],
		&[type="reset"],
		&[type="submit"] {
			@include background-text-combo($color-link, $color-light-link);
		}
	}
}

button:hover {
	@include background-text-combo($color-button-hover, $color-light-link);
}

input:hover {
	&[type="button"], &[type="reset"], &[type="submit"] {
		@include background-text-combo($color-button-hover, $color-light-link);
	}
}

.button:hover {
	@include background-text-combo($color-button-hover, $color-light-link);
}

.entry-content .button:hover {
	color: $color-light-link;
}

.footer-widgets {
	button:hover,
	.button:hover {
		@include background-text-combo($color-light-link, $color-link-hover);
	}
	input:hover {
		&[type="button"],
		&[type="reset"],
		&[type="submit"] {
			@include background-text-combo($color-light-link, $color-link-hover);
		}
	}
}

.button {
	display: inline-block;
}

input[type="search"] {
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button {
		display: none;
	}
}

/* Tables
--------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 2;
	margin-bottom: 40px;
	width: 100%;
}

tbody {
	border-bottom: $base-border;
}

td,
th {
	text-align: left;
}

td {
	border-top: $base-border;
	padding: 6px 0;
}

th {
	font-weight: $base-font-weight;
}
