.find-partner{
    .find-partner-container{
        @include outer-container();
        .left-content{
            @include span-columns(6);
            
        }
        .right-image{
            @include span-columns(4); 
        }
        @include media($mobile) {
            .left-content,.right-image{
                @include span-columns(4); 
            }
        }
    }
}