.footer-widgets, .site-footer {
	color: darken(white, 20%);
	padding-top: 1em;
	font-size: .8em;
	background-color:#363636;
	a {
		color: darken(white, 20%);
		&:hover {
			color: white;
		}
	}
	ul > li {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.widget-title {
		color: white;
	}
	p {
		text-align: center;
		padding-bottom: .5em;
		margin-bottom: 0;
	}
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
    @include span-columns(4 of 12);
		@include media( $mobile ) {
			@include span-columns(4);
		}
}

