h1:after {
    content: ".";
    margin: 0px 5px 0 0px;
    color: #00A8FF;
    font-size: 1.6em;
}

.home h2 {
    text-align: center;
}

.content-sidebar-wrap section {
    padding: 1em 0;
}

.intro {
    .wrap {
        max-width: 1000px;
        padding: 1em 0;

        h1 {
            font-size: 60px;
        }

        p {
            font-size: 23px;
        }

    }
}

.intro-content {
    text-align: center;

    h1 {
        font-size: 64px;
    }

    p {
        font-size: 24px;
        font-weight: 300;
    }
}

.checklist {
    position: relative;
    border: 3px solid #00A8FF;
    padding: .5em 2em 2em;
    color: #00A8FF;
    font-size: .6em;

    &:before {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        width: 0px;
        height: 0px;
        border-radius: 5px;
        border-bottom: 70px solid #00A8FF;
        border-left: 70px solid transparent;
    }

    &:after {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        width: 0px;
        height: 0px;
        border-top: 69px solid #eee;
        border-right: 69px solid transparent;
        -webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    }

    .checklist-header {
        img {
            max-height: 100px;
        }

        .checklist-heading {
            font-weight: bold;

            li {
                display: inline-block;

                &:after {
                    content: ".";
                    margin: 0px 3px 0 3px;
                    color: #00A8FF;
                    font-size: 2.8em;
                    position: relative;
                    top: -2px;
                }

                &:last-child:after {
                    display: none;
                }
            }
        }
    }

    ul.check-list {
        padding-left: 2em;

        li {
            margin-bottom: .3em;
            list-style-type: none;
            position: relative;

            &:before {
                font-family: 'dashicons';
                display: inline-block;
                content: "\f147";
                margin: -20px 0px 0 -47px;
                color: #00A8FF;
                font-size: 2.5em;
                word-wrap: break-word;
                position: relative;
                left: 0;
                top: 15px;
            }
        }
    }
}

//Services section styles 
.services {
    background-color: rgba(52, 174, 255, 0.08);
    background-image: -webkit-linear-gradient(30deg, rgba(239, 249, 255, 0.13) 45%, rgba(76, 191, 255, 0.07) 45%);

    .wrap {
        max-width: 1100px;
    }

    position: relative;

    &:after {
        content: '';
        background-color: rgba(52, 174, 255, 0.08);
        background-image: -webkit-linear-gradient(30deg, rgba(239, 249, 255, 0.13) 45%, rgba(76, 191, 255, 0.07) 45%);
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    h2 {
        font-size: 48px;
    }

    .service {
        h3 {
            font-size: 36px;
        }

        p {
            font-size: 18px;
            text-align: left;
        }
    }
}

//partners profile page styles 
.partners {
    background-color: #fff;
    min-height: 150px;
}

.partners,
.betas {
    padding-top: 1.4em;

    .button {
        display: inline-block;
    }

    .partner-info,
    .betas-info {
        @include span-columns(6 of 12);
    }

    .partner-info {
        @include media($tablet) {
            float: left;
        }
    }

    .partner-badge,
    .betas-badge {
        @include span-columns(6 of 12);

        img {
            width: 100%;
        }
    }

    .partner-badge {
        @include media($tablet) {
            float: right;
        }
    }
}

//Challenge section styles 
.challenges {
    .wrap {
        h2 {
            font-size: 40px;
            color: $upleap-button-color;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            font-size: 24px;
            font-weight: 100;
        }
    }
}

.challenges-info {
    margin-bottom: 2em;
    text-align: center;

    a {
        margin: 0 auto;
    }

    p {
        font-size: 24px;
    }
}

.button.magenta {
    background: $upleap-button-color;
    padding: 17px 19px;
    font-size: 18px;

    @include media($mobile) {
        padding: 18px 20px;
    }

    &:hover {
        background: darken($magenta, 10%);
        color: white;
    }
}

.secondary {
    background: #ffffff;
    color: #0298e5;
    border: 1px solid #b3b3b3;
    font-size: 18px;
    padding: 15px 25px;
    margin: auto;

    &:hover {
        color: white;
        background: darken($magenta, 10%);
    }
}

//Partners Logo list styles
.partners-list {
    display: flex;
    justify-content: space-around;

    .logo {
        width: 200px;

        img {
            max-width: 100%;
            height: auto;
            padding: 5px;
        }

        p {
            text-align: center;

        }
    }

}

.skills {
    position: relative;
    background-color: rgba(52, 174, 255, 0.08);
    background-image: -webkit-linear-gradient(30deg, rgba(239, 249, 255, 0.13) 45%, rgba(76, 191, 255, 0.07) 45%);

    h2 {
        font-size: 29px;
    }

    .category {
        h2 {
            font-size: 24px;
        }

        ul {
            font-size: 14px;
            list-style-type: disc !important;
        }
    }
}

.how-works {
    background-color: #fff;
    min-height: 260px;
    text-align: center;

    h2 {
        font-size: 25px;
    }

    .step {
        @include span-columns(3 of 12);
        width: 30.40426%;

        @include media($mobile) {
            @include span-columns(4);
        }

        .number {
            font-weight: 800;
            font-size: 1.7em;
            display: inline-flex;
            color: $blue;
            border: 3px solid $blue;
            height: 150px;
            width: 150px;
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
    }
}

.testimonials {
    .testimonial {
        @include clearfix();
        margin-bottom: 1.3em;

        img {
            @include span-columns(12);
            margin: 0 auto;
            float: none;
            border-radius: 20px;
            max-height: 150px;
            width: auto;

            @include media($tablet) {
                @include span-columns(2);
                float: left;
            }
        }

        .quote {
            @include span-columns(12);

            @include media($tablet) {
                @include span-columns(10)
            }

            span.author,
            span.organization {
                padding-left: 40px;
                font-weight: bold;
            }

            span.organization {
                color: #00A8FF;
            }

            &:before {
                font-family: 'dashicons';
                content: "\f122";
                font-size: 2em;
                margin: 0 5px 0 -15px;
                color: #00A8FF;
                float: left;
            }
        }
    }
}

.about {
    background-color: rgba(52, 174, 255, 0.13);

    .wrap {
        color: #333;
        max-width: 1000px;

        h2 {
            font-size: 29px;
        }

        p {
            font-size: 19px;
        }

    }
}