
.newsletter{
    .wrap{
        padding: 20px;
        
        .newsletter-form{
            background-color: #69c9be;
            border-radius: 2px;
            display: flex;
            align-items: center;
            @include media($tablet) {
                display: block
            }
            .header{
                width: 40%;
                text-align: right;
                @include media($tablet) {
                    width: 100%;
                    text-align: unset;
                }
                h4{
                    margin: 0;
                    font-weight: 700;
                    padding: 20px;
                    color: #FFF;
                }
            }
            .form{
                width: 60%;
                @include media($tablet) {
                    width: 100%;
                }
            .gform_wrapper {
                    margin: 0px 0;
                    form{
                        display: flex;
                        align-items: center;
                        @include media($tablet) {
                            flex-direction: column;
                            padding: 10px;
                        }
                        .gform_heading{
                            display: none;
                        }
                        .gform_body{
                            width: 70%;
                            @include media($tablet) {
                                width: 100%;
                            }
                            li.gfield{
                                margin-top: 0;
                            }
                            li.hidden_label input{
                          
                               padding: 10px;
                           }
                        }
                        .gform_footer{
                            width: 30%;
                            margin-top: 0;
                            @include media($tablet) {
                                width: 100%;
                                text-align: center;
                            }
                            input[type=submit]{
                                margin: 0;
                                max-width: 100%;
                                width: 80%;
                                background-color: transparent;
                                border: 2px solid #fff;
                                @include media($tablet) {
                                    width: 50%;
                                    
                                }
                                @include media($mobile) {
                                    width: 100%;
                                    padding: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
