.page-template-default,
.page-template-page_blog,
.single-post {
    .content {
        @include outer-container();
    }
}
.home .content {
    max-width: 100%;
    margin: initial;
}

.entry-title {
    text-align: center;
}
