.how-works {
    .category {
        ul {
            list-style-type: disc;
            text-align: left;
        }
    }
}

.partner-profile {
    border: 6px solid #00A8FF;
    border-radius: 12px;
    padding: .5em;
    text-align: center;
    img {
        border-radius: 50%;
        border: 3px solid #00A8FF;
        width: 150px;
        height: 150px;
        margin-bottom: .75em;
    }
    h4 {
        font-size: .8em;
        margin-bottom: .1em;
    }
    p {
        font-size: .6em;
    }
}
