.special{

    .wrap{
        .heading{
            text-align: center;
            .title{
                font-size: 2rem;
            }
            .sub-title{
                padding-bottom: 40px;
                font-size: 18px;
            }
        }
        .case{
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex-wrap: wrap;
            align-items: stretch;
            .case-study{
                text-align: center;
                font-size: 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 40px;
                .service-label {
                    font-size: 16px;
                }
                img {
                    max-width:70%;
                    display: block;
                    margin: 0 auto;
                }
               @include media($tablet) {
                    width: 33%;
                    .service-label {
                        font-size: 15px;
                    }
                    img {
                        max-width:60%;
                        display: block;
                        margin: 0 auto;
                    }
                }
                @include media($mobile) {
                    width: 33%;
                    .service-label {
                        font-size: 12px;
                    }
                }
                img{
                    width: 200px;
                }

            }
        }
    }
}
.case-studies .case-study{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    @include media($mobile) {
        @include span-columns(4);
      }
    .case-content{
        @include span-columns(8 of 12);
        @include media($mobile) {
            @include span-columns(4);
          }
        p{
            font-size: 19px;
            text-align: justify;
        }
    }
    .case-image {
        @include span-columns(4 of 12);
        display: flex;
        justify-content: center;
        @include media($mobile) {
            @include span-columns(4);
          }
        img{
            width: 300px;
            height: 300px;
        }
    }      
}
.partners{
    .wrap{
        h2{
            text-align: center;
        }
    }
}