.page-template-partners,
.page-template-big-brands,
.page-template-startups {
    h2 {
        text-align: center;
    }
    .intro {
        text-align: center;
        margin: 0 auto;
        padding: 0 0 .75em 0;
        p {
            margin: 0;
        }
        .button {
            margin: 25px auto;
            display: inline-block;
            &.first {
                margin-right: 25px;
            }
        }
    }
    .how-it-works {
        text-align: center;
        .step {
            @include span-columns(3 of 12);
            @include media($mobile) {
                @include span-columns(4);
            }
            .number {
                font-weight: 800;
                font-size: 2em;
                display: inline-flex;
                color: $blue;
                border: 3px solid $blue;
                height: 150px;
                width: 150px;
                border-radius: 100px;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
            }
        }
    }
    .challenges {
        text-align: center;
        .step {
            @include span-columns(4 of 12);
            @include media($mobile) {
                @include span-columns(4);
            }
            .number {
                font-weight: 800;
                font-size: 2em;
                display: inline-flex;
                color: $blue;
                border: 3px solid $blue;
                height: 150px;
                width: 150px;
                border-radius: 100px;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
            }
        }
    }
}
