
/* Variables
---------------------------------------------------------------------------------------------------- */

$font-sans:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-genesis-sans:  'Source Sans Pro', sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-mono:  "Courier 10 Pitch", Courier, monospace;

$base-font-size: 16px;
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$base-font-genesis-family: 'Source Sans Pro', sans-serif;
$base-font-weight: 400;
$base-font-line-height: 1.625;

$heading-font-family: $font-sans;
$heading-font-weight: 600;
$heading-font-line-height: 1.2;

$base-border: 1px solid #ddd;
